@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

img,video {
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: 'Nature-Beauty';
  src: url('/fonts/nature_beauty_personal_use-webfont.woff2') format('woff2'),
       url('/fonts/nature_beauty_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.curved-demo {
  overflow: hidden;
}

.curved-demo:before {
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: 0;
  width: 200%;
  bottom: 0;
  background-color: #fff;
  border-top: 15px solid #fff;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}