@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body{
  background: black;
}

html{
  scroll-behavior: smooth;
}

img,video {
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: 'Nature-Beauty';
  src: url('/fonts/nature_beauty_personal_use-webfont.woff2') format('woff2'),
       url('/fonts/nature_beauty_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppinsbold';
  src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('/fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins_mediumregular';
  src: url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins_semiboldregular';
  src: url('/fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('/fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.curved-demo {
  overflow: hidden;
}

.curved-demo:before {
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: 0;
  width: 200%;
  bottom: 0;
  background-color: #fff;
  border-top: 15px solid #fff;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}